<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-4">      
        <div class="card mb-3">
          <%= image_tag product.image.variant(resize_to_limit: [400, 400]), width: "100%" %>
          <div class="card-body">
            <h5 class="card-title"><%= product.title %></h5>
            <p class="card-text"><%= product.description %></p>
          </div>
          <div class="card-footer text-white bg-secondary"><%= product.price.format %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
