<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @product.price.format %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@product.image.variant(resize_to_limit: [175, 175])) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
